<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Anasayfa</title>
</head>
<body>
<section style="background-color:LightSkyBlue">
<h1>Admin Anasayfasına Hoşgeldiniz</h1>
    <form method="post" action="">


<input  style="margin-left: 14px;" type="submit" value="kişi ekle" name="kişi ekle"><br>
<input  style="margin-left: 14px;" type="submit" value="kişi sil" name="kişi sil"><br>
<input  style="margin-left: 14px;" type="submit" value="kişi güncelle" name="kişi güncelle"><br>
<input  style="margin-left: 14px;" type="submit" value="kişi ara" name="kişi ara"><br>

        <br><br>


    </form>
    <br><br><br><br><a href="{{url_for('login')}}">Logout</a>
</section>
</body>
</html></html>