<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Beceri Karnesi</title>
</head>
<body>
<table>
 <tr>
        <thead> <!--Tablonun üst yapısını oluşturmak için thead kullanılır-->
                <th>{{Özellik}}</th> <!--Üst başlığın satırları için th kullanılır-->
                <th>Kendi Başına</th>
                <th>Öğretim Elemanı Gözetiminde</th>
                <th>Hemşire Gözetiminde</th>
                <th>Tarih</th>
            </tr>
        </thead>

        <tbody> <!--Tablonun iç yapısını düzenlemek için tbody kullanılır-->
            <tr> <!--Satırımızı oluşturuyoruz-->
                <td>{{Özellik1}}</td> <!--Tabloya verileri ekliyoruz-->
                <td><p>{{kb1}}</p></td>
                <td><p>{{öeg1}}</p></td>
                <td><p>{{hg1}}</p></td>
                <td><p>{{tarih1}}</p></td>
            </tr>
            <tr>
                <td>{{Özellik2}}</td>
                <td>{{kb2}}</td>
                <td>{{öeg2}}</td>
                <td>{{hg2}}</td>
                <td>{{tarih2}}</td>
            </tr>
            <tr>
                <td>{{Özellik3}}</td>
                <td>{{kb3}}</td>
                <td>{{öeg3}}</td>
                <td>{{hg3}}</td>
                <td>{{tarih3}}</td>
            </tr>
            <tr>
                <td>{{Özellik4}}</td>
                <td>{{kb4}}</td>
                <td>{{öeg4}}</td>
                <td>{{hg4}}</td>
                <td>{{tarih4}}</td>
            </tr>
            <tr>
                <td>{{Özellik5}}</td>
                <td>{{kb5}}</td>
                <td>{{öeg5}}</td>
                <td>{{hg5}}</td>
                <td>{{tarih5}}</td>
            </tr>
            <tr>
                <td>{{Özellik6}}</td>
                <td>{{kb6}}</td>
                <td>{{öeg6}}</td>
                <td>{{hg6}}</td>
                <td>{{tarih6}}</td>
            </tr>
             <tr>
                <td>{{Özellik7}}</td>
                <td>{{kb7}}</td>
                <td>{{öeg7}}</td>
                <td>{{hg7}}</td>
                <td>{{tarih7}}</td>
            </tr>
             <tr>
                <td>{{Özellik8}}</td>
                <td>{{kb8}}</td>
                <td>{{öeg8}}</td>
                <td>{{hg8}}</td>
                <td>{{tarih8}}</td>
            </tr>
              <tr>
                <td>{{Özellik9}}</td>
                <td>{{kb9}}</td>
                <td>{{öeg9}}</td>
                <td>{{hg9}}</td>
                <td>{{tarih9}}</td>
            </tr>
              <tr>
                <td>{{Özellik10}}</td>
                <td>{{kb10}}</td>
                <td>{{öeg10}}</td>
                <td>{{hg10}}</td>
                <td>{{tarih10}}</td>
            </tr>
             <tr>
                <td>{{Özellik11}}</td>
                <td>{{kb11}}</td>
                <td>{{öeg11}}</td>
                <td>{{hg11}}</td>
                <td>{{tarih11}}</td>
            </tr>
             <tr>
                <td>{{Özellik12}}</td>
                <td>{{kb12}}</td>
                <td>{{öeg12}}</td>
                <td>{{hg12}}</td>
                <td>{{tarih12}}</td>
            </tr>
             <tr>
                <td>{{Özellik13}}</td>
                <td>{{kb13}}</td>
                <td>{{öeg13}}</td>
                <td>{{hg13}}</td>
                <td>{{tarih13}}</td>
            </tr>
             <tr>
                <td>{{Özellik14}}</td>
                <td>{{kb14}}</td>
                <td>{{öeg14}}</td>
                <td>{{hg14}}</td>
                <td>{{tarih14}}</td>
            </tr>
             <tr>
                <td>{{Özellik15}}</td>
                <td>{{kb15}}</td>
                <td>{{öeg15}}</td>
                <td>{{hg15}}</td>
                <td>{{tarih15}}</td>
            </tr>
             <tr>
                <td>{{Özellik16}}</td>
                <td>{{kb16}}</td>
                <td>{{öeg16}}</td>
                <td>{{hg16}}</td>
                <td>{{tarih16}}</td>
            </tr>
              <tr>
                <td>{{Özellik17}}</td>
                <td>{{kb17}}</td>
                <td>{{öeg17}}</td>
                <td>{{hg17}}</td>
                <td>{{tarih17}}</td>
            </tr>
            <tr>
                <td>{{Özellik18}}</td>
                <td>{{kb18}}</td>
                <td>{{öeg18}}</td>
                <td>{{hg18}}</td>
                <td>{{tarih18}}</td>
            </tr>
              <tr>
                <td>{{Özellik19}}</td>
                <td>{{kb19}}</td>
                <td>{{öeg19}}</td>
                <td>{{hg19}}</td>
                <td>{{tarih19}}</td>
            </tr>
              <tr>
                <td>{{Özellik20}}</td>
                <td>{{kb20}}</td>
                <td>{{öeg20}}</td>
                <td>{{hg20}}</td>
                <td>{{tarih20}}</td>
            </tr>
              <tr>
                <td>{{Özellik21}}</td>
                <td>{{kb21}}</td>
                <td>{{öeg21}}</td>
                <td>{{hg21}}</td>
                <td>{{tarih21}}</td>
            </tr>
              <tr>
                <td>{{Özellik22}}</td>
                <td>{{kb22}}</td>
                <td>{{öeg22}}</td>
                <td>{{hg22}}</td>
                <td>{{tarih22}}</td>
            </tr>
             <tr>
                <td>{{Özellik23}}</td>
                <td>{{kb23}}</td>
                <td>{{öeg23}}</td>
                <td>{{hg23}}</td>
                <td>{{tarih23}}</td>
            </tr>
             <tr>
                <td>{{Özellik24}}</td>
                <td>{{kb24}}</td>
                <td>{{öeg24}}</td>
                <td>{{hg24}}</td>
                <td>{{tarih24}}</td>
            </tr>
               <tr>
                <td>{{Özellik25}}</td>
                <td>{{kb25}}</td>
                <td>{{öeg25}}</td>
                <td>{{hg25}}</td>
                <td>{{tarih25}}</td>
            </tr>
             <tr>
                <td>{{Özellik26}}</td>
                <td>{{kb26}}</td>
                <td>{{öeg26}}</td>
                <td>{{hg26}}</td>
                <td>{{tarih26}}</td>
            </tr>
            <tr>
                <td>{{Özellik27}}</td>
                <td>{{kb27}}</td>
                <td>{{öeg27}}</td>
                <td>{{hg27}}</td>
                <td>{{tarih27}}</td>
            </tr>
            <tr>
                <td>{{Özellik28}}</td>
                <td>{{kb28}}</td>
                <td>{{öeg28}}</td>
                <td>{{hg28}}</td>
                <td>{{tarih28}}</td>
            </tr>
            <tr>
                <td>{{Özellik29}}</td>
                <td>{{kb29}}</td>
                <td>{{öeg29}}</td>
                <td>{{hg29}}</td>
                <td>{{tarih29}}</td>
            </tr>
            <tr>
                <td>{{Özellik30}}</td>
                <td>{{kb30}}</td>
                <td>{{öeg30}}</td>
                <td>{{hg30}}</td>
                <td>{{tarih30}}</td>
            </tr>
             <tr>
                <td>{{Özellik31}}</td>
                <td>{{kb31}}</td>
                <td>{{öeg31}}</td>
                <td>{{hg31}}</td>
                <td>{{tarih31}}</td>
            </tr>
              <tr>
                <td>{{Özellik32}}</td>
                <td>{{kb32}}</td>
                <td>{{öeg32}}</td>
                <td>{{hg32}}</td>
                <td>{{tarih32}}</td>
            </tr>
              <tr>
                <td>{{Özellik33}}</td>
                <td>{{kb33}}</td>
                <td>{{öeg33}}</td>
                <td>{{hg33}}</td>
                <td>{{tarih33}}</td>
            </tr>
            <tr>
                <td>{{Özellik34}}</td>
                <td>{{kb34}}</td>
                <td>{{öeg34}}</td>
                <td>{{hg34}}</td>
                <td>{{tarih34}}</td>
            </tr>
            <tr>
                <td>{{Özellik35}}</td>
                <td>{{kb35}}</td>
                <td>{{öeg35}}</td>
                <td>{{hg35}}</td>
                <td>{{tarih35}}</td>
            </tr>
             <tr>
                <td>{{Özellik36}}</td>
                <td>{{kb36}}</td>
                <td>{{öeg36}}</td>
                <td>{{hg36}}</td>
                <td>{{tarih36}}</td>
            </tr>
             <tr>
                <td>{{Özellik37}}</td>
                <td>{{kb37}}</td>
                <td>{{öeg37}}</td>
                <td>{{hg37}}</td>
                <td>{{tarih37}}</td>
            </tr>
             <tr>
                <td>{{Özellik38}}</td>
                <td>{{kb38}}</td>
                <td>{{öeg38}}</td>
                <td>{{hg38}}</td>
                <td>{{tarih38}}</td>
            </tr>
            <tr>
                <td>{{Özellik39}}</td>
                <td>{{kb39}}</td>
                <td>{{öeg39}}</td>
                <td>{{hg39}}</td>
                <td>{{tarih39}}</td>
            </tr>
              <tr>
                <td>{{Özellik40}}</td>
                <td>{{kb40}}</td>
                <td>{{öeg40}}</td>
                <td>{{hg40}}</td>
                <td>{{tarih40}}</td>
            </tr>
              <tr>
                <td>{{Özellik41}}</td>
                <td>{{kb41}}</td>
                <td>{{öeg41}}</td>
                <td>{{hg41}}</td>
                <td>{{tarih41}}</td>
            </tr>
              <tr>
                <td>{{Özellik42}}</td>
                <td>{{kb42}}</td>
                <td>{{öeg42}}</td>
                <td>{{hg42}}</td>
                <td>{{tarih42}}</td>
            </tr>
              <tr>
                <td>{{Özellik43}}</td>
                <td>{{kb43}}</td>
                <td>{{öeg43}}</td>
                <td>{{hg43}}</td>
                <td>{{tarih43}}</td>
            </tr>
              <tr>
                <td>{{Özellik44}}</td>
                <td>{{kb44}}</td>
                <td>{{öeg44}}</td>
                <td>{{hg44}}</td>
                <td>{{tarih44}}</td>
            </tr>
                <tr>
                <td>{{Özellik45}}</td>
                <td>{{kb45}}</td>
                <td>{{öeg45}}</td>
                <td>{{hg45}}</td>
                <td>{{tarih45}}</td>
            </tr>
              <tr>
                <td>{{Özellik46}}</td>
                <td>{{kb46}}</td>
                <td>{{öeg46}}</td>
                <td>{{hg46}}</td>
                <td>{{tarih46}}</td>
            </tr>
              <tr>
                <td>{{Özellik47}}</td>
                <td>{{kb47}}</td>
                <td>{{öeg47}}</td>
                <td>{{hg47}}</td>
                <td>{{tarih47}}</td>
            </tr>
               <tr>
                <td>{{Özellik48}}</td>
                <td>{{kb48}}</td>
                <td>{{öeg48}}</td>
                <td>{{hg48}}</td>
                <td>{{tarih48}}</td>
            </tr>
             <tr>
                <td>{{Özellik49}}</td>
                <td>{{kb49}}</td>
                <td>{{öeg49}}</td>
                <td>{{hg49}}</td>
                <td>{{tarih49}}</td>
            </tr>
               <tr>
                <td>{{Özellik50}}</td>
                <td>{{kb50}}</td>
                <td>{{öeg50}}</td>
                <td>{{hg50}}</td>
                <td>{{tarih50}}</td>
            </tr>
              <tr>
                <td>{{Özellik51}}</td>
                <td>{{kb51}}</td>
                <td>{{öeg51}}</td>
                <td>{{hg51}}</td>
                <td>{{tarih51}}</td>
            </tr>
             <tr>
                <td>{{Özellik52}}</td>
                <td>{{kb52}}</td>
                <td>{{öeg52}}</td>
                <td>{{hg52}}</td>
                <td>{{tarih52}}</td>
            </tr>
             <tr>
                <td>{{Özellik53}}</td>
                <td>{{kb53}}</td>
                <td>{{öeg53}}</td>
                <td>{{hg53}}</td>
                <td>{{tarih53}}</td>
            </tr>
            <tr>
                <td>{{Özellik54}}</td>
                <td>{{kb54}}</td>
                <td>{{öeg54}}</td>
                <td>{{hg54}}</td>
                <td>{{tarih54}}</td>
            </tr>
            <tr>
                <td>{{Özellik55}}</td>
                <td>{{kb55}}</td>
                <td>{{öeg55}}</td>
                <td>{{hg55}}</td>
                <td>{{tarih55}}</td>
            </tr>
           <tr>
                <td>{{Özellik56}}</td>
                <td>{{kb56}}</td>
                <td>{{öeg56}}</td>
                <td>{{hg56}}</td>
                <td>{{tarih56}}</td>
            </tr>
           <tr>
                <td>{{Özellik57}}</td>
                <td>{{kb57}}</td>
                <td>{{öeg57}}</td>
                <td>{{hg57}}</td>
                <td>{{tarih57}}</td>
            </tr>
             <tr>
                <td>{{Özellik58}}</td>
                <td>{{kb58}}</td>
                <td>{{öeg58}}</td>
                <td>{{hg58}}</td>
                <td>{{tarih58}}</td>
            </tr>
             <tr>
                <td>{{Özellik59}}</td>
                <td>{{kb59}}</td>
                <td>{{öeg59}}</td>
                <td>{{hg59}}</td>
                <td>{{tarih59}}</td>
            </tr>
              <tr>
                <td>{{Özellik60}}</td>
                <td>{{kb60}}</td>
                <td>{{öeg60}}</td>
                <td>{{hg60}}</td>
                <td>{{tarih60}}</td>
            </tr>
</table></form>


</body>
</html>