<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>12 buton</title>
</head>
<body>
 <form method="post" action="">


<input  style="margin-left: 14px;" type="submit" value="1.Sağlığı Algılama ve Sağlığın Yönetimi" name="1.Sağlığı Algılama ve Sağlığın Yönetimi"><br>
<input  style="margin-left: 14px;" type="submit" value="2.Beslenme ve Metabolik" name="2.Beslenme ve Metabolik"><br>
 <input  style="margin-left: 14px;" type="submit" value="3.Eliminasyon" name="3.Eliminasyon"><br>
 <input  style="margin-left: 14px;" type="submit" value="4.Aktivite -Egzersiz" name="4.Aktivite -Egzersiz"><br>
   <input  style="margin-left: 14px;" type="submit" value="5.Uyku-Dinlenme  " name="5.Uyku-Dinlenme  "><br>
<input  style="margin-left: 14px;" type="submit" value="6.Bilişsel-Algısal " name="6.Bilişsel-Algısal "><br>
 <input  style="margin-left: 14px;" type="submit" value="7.Kendini algılama" name="7.Kendini algılama"><br>
 <input  style="margin-left: 14px;" type="submit" value="8.Rol-ilişki" name="8.Rol-ilişki"><br>
   <input  style="margin-left: 14px;" type="submit" value="9.Cinsellik -Üreme" name="9.Cinsellik -Üreme"><br>
<input  style="margin-left: 14px;" type="submit" value="10.Başetme-Stres toleransı " name="10.Başetme-Stres toleransı "><br>
 <input  style="margin-left: 14px;" type="submit" value="11.Değer- İnanç" name="11.Değer- İnanç"><br>
 <input  style="margin-left: 14px;" type="submit" value="Diğer Uygulamalar (Hastanın kabulü, teslimi, formların kullanımı) " name="Diğer Uygulamalar (Hastanın kabulü, teslimi, formların kullanımı) "><br>

        <br><br>



    </form>

</body>
</html>