<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kullanıcı Sil</title>
</head>
<body>
<section style="background-color:coral;height :100vh;">
  <div class="container" style="height: 100%;">
    <div class="d flex justify-content-center align-items-center" style="height: 100%;">
      <div>
 {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
    {% for category, message in messages %}
  <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}


      <form action="" method="post">
        <label style="font-size: 1rem;" for="id">Id</label> <br>
        <input style="font-size: 1rem;" type="text" name="id" input> <br>
        <label for="name">Ad</label> <br>
        <input type="text" name="name"> <br>
           <br>
        <button type="submit">Sil</button>
      </form>
        </div>
    </div>
  </div>

</section>
</body>
</html>