<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giriş Sayfası</title>
</head>
<body>
  <section style="background-color:coral;height :100vh;">
  <div class="container" style="height: 100%;">
    <div align="center" style="height: 100%;">
                     <br>
      <h1>Başkent Üniversitesi Hemşirelik Bölümü</h1><br>
      <h2>Öğrenci Beceri Karnesi Sistemi</h2><br>
      <form action="" method="post">
        <br><br><br><br>
        <label style="font-size: 2em;" for="numara">Numara</label> <br>
        <input style="font-size: 3em';" type="text"> <br>


        <label style="font-size: 2em" for="password">Şifre</label> <br>
        <input type="password"> <br> <br>
        <button style="font-size: 1em" type="submit">Giriş Yap</button>
      </form>
    </div>
  </div>

</section>
</body>
</html>