<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Öğretim Elemanı/Hemşire Anasayfa</title>
</head>
<body>
<section style="background-color:LightSkyBlue">
<h1>Anasayfaya Hoşgeldiniz</h1>
    <form method="post" action="">


<input  style="margin-left: 14px;" type="submit" value="sınıfileara" name="sınıfileara"><br>
<input  style="margin-left: 14px;" type="submit" value="öğrencinumarasıylaara" name="öğrencinumarasıylaara"><br>
<input  style="margin-left: 14px;" type="submit" value="not ver" name="not ver"><br>

        <br><br>


    </form>
    <br><br><br><br><a href="{{url_for('login')}}">Logout</a>
</section>
</body>
</html>