<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sınıf Seçimi</title>
</head>
<body>
<section style="background-color:LightSkyBlue">

    <form method="post" action="">


<input  style="margin-left: 14px;" type="submit" value="1.sınıf" name="1.sınıf"><br>
<input  style="margin-left: 14px;" type="submit" value="2.sınıf" name="2.sınıf"><br>
<input  style="margin-left: 14px;" type="submit" value="3.sınıf" name="3.sınıf"><br>
<input  style="margin-left: 14px;" type="submit" value="4.sınıf" name="4.sınıf"><br>

        <br><br>


    </form>
    <br><br><br><br><a href="{{url_for('profnurselogin')}}">Logout</a>
</section>
</body>
</html></html>